# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE

# Other Files (In Eclipse)
.classpath
.project
src/main/java/net/mcreator/yafnafmod/init/YaFnafmodModBlocks.java
src/main/java/net/mcreator/yafnafmod/init/YaFnafmodModItems.java
src/main/java/net/mcreator/yafnafmod/init/YaFnafmodModTabs.java
src/main/resources/assets/ya_fnafmod/lang/en_us.json
